<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Nuevo Farmacia</h1>
    <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
  </ion-header-bar>
  <ion-content class="padding">
    <form ng-submit="agregarFarmacia()">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label" >Nombre Farmacia</span>
          <input type="text" ng-model="medicamento.nombreFarmacia" placeholder="Nombre Farmacia">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Direccion</span>
          <input type="text"  ng-model="medicamento.direccion" placeholder="Direccion">
        </label>
      </div>
      <button type="submit" class="button">
        Agregar</button>
    </form>
  </ion-content>
</ion-modal-view>
