# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
/.gradle/
.gradle/
.idea/workspace.xml
gen/
/.idea/
/res/
/resources/android/
/resources/ios/
/Histolingo.iml
/Medicamentos.iml
